// Colors

// Primary

$red-desaturated: hsl(0, 36%, 70%);
$red-soft: hsl(0, 93%, 68%);

// Neutral

$red-dark-gray: hsl(0, 6%, 24%);


// Typography

// Body Copy

$font-style: 'Josefin Sans', sans-serif;
$font-size: 16px;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-thick: 600;
