@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.contact__form {
  background-color: transparent;
  border: 1px solid $red-desaturated;
  border-radius: 1.5rem;
  margin: 2rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact--error {
  border: 1px solid $red-soft;
}
.contact__input {
  color: $red-dark-gray;
  background-color: transparent;
  border: none;
  border-radius: 1.5rem;
  padding: 0 1rem;
  height: 2.5rem;
  width: 17rem;
  outline: none;
}

.contact__input::placeholder {
  color: $red-desaturated
}

.contact__button {
  background-repeat: no-repeat;
  width: 4rem;
  height: 2.5rem;
  border: none;
  border-radius: 1.5rem;
  @include background-gradient-red;
  box-shadow: 5px 5px 15px $red-desaturated;
  outline: none;
}

.contact__hint {
  color: $red-desaturated;
  font-size: .9rem;
  margin: .75rem;
}
