@import "src/assets/scss/mixins";

.inner-container {
  width: 375px;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .outer-container {
    display: grid;
    grid-template-areas: 'topbar hero'
                         'container hero';
  }

  app-topbar {
    grid-area: topbar;
    width: 50vw;
    height: 1vh;
    padding: 4rem 9rem 0;
  }

  .inner-container {
    grid-area: container;
    width: 50vw;
    padding: 0 9rem;
  }

  app-hero {
    grid-area: hero;
    width: 50vw;
  }
}
